@import '/styles/helpers/settings.scss';



.title {
  font-size: 30px;
  margin: 0;
  font-family: ivypresto-display, serif;
  line-height: 1.3;
}


@media(min-width: $bp-sm) {
  .title {
    font-size: 38px;
  }
}


@media(min-width: $bp-md) {
  .title {
    font-size: 46px;
  }
}


@media(min-width: $bp-lg) {
  .title {
    font-size: 58px;
  }
}
