@import '/styles/helpers/settings.scss';

.hero {
  max-width: 700px;
}

.text {
  font-size: 17px;
  line-height: 1.6;
}

@media(min-width: $bp-sm) {
  .hero {
    max-width: 700px;
  }

  .text {
    font-size: 18px;
  }
}

@media(min-width: $bp-md) {
  
  .text {
    font-size: 18px;
  }
}

@media(min-width: $bp-lg) {
  .hero {
    max-width: 900px;
  }
  
  .text {
    font-size: 18px;
  }
}