@import '/styles/helpers/breakpoints';

.fullPage {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  overflow: auto;
}

@media(min-width: $bp-md) {
  .fullPage {
    min-height: 500px;
    height: 100vh;
  }
}