@import '/styles/helpers/breakpoints';

.container {
  width: min(90%, 1440px);
  margin: auto;

  &__inner {
    width: min(90%, 1000px);
    margin: auto;
  }
}

.shimmy {
  margin-top: 8em;
}

@media(min-width: $bp-md) {
  .shimmy {
    margin-top: 12em;
  }
}